.header-color{
    background-color: #264653;
}
.bike{filter: grayscale(100%);}
.client{color: #E76F51;}
.body{font-family: 'Poppins', sans-serif;}

/* card  */

.card{height: 478.01px; width: 322px;}
.card-3 img{
    border-radius: 50%;
}
.fa-star{color: #E77C40;}
.identity{color: #23A6F0;}
/* card end */